# Dependencies
**/node_modules
.cache
yarn-error.log

# Build directory
/public
static/admin/*.bundle.*

# misc
**/#.*
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.com.apple.timemachine.supported
*.map

# IDE's
.idea
*.sublime-project
*.sublime-workspace
*.code-workspace
*.swp
*.iml
.vscode

